target/
*.cog
*.snap
*.omf
test_industrial/
industrial_mind_export/
industrial_snapshots/
test_industrial_runtime/
check_output.txt
*.log
**/*.rs.bk
Cargo.lock
*.omf
*.mindpack
*.zip
test_data/
prod_data/
omniforge_data/
omniforge
test_memory.json
