target/
*.cog
*.snap
*.omf
test_industrial/
test_integrity/
industrial_mind_export/
industrial_snapshots/
test_industrial_runtime/
check_output.txt
*.log
**/*.rs.bk
Cargo.lock
*.omf
*.mindpack
*.zip
test_data/
prod_data/
omniforge_data/
omniforge
test_memory.json
test_transitive/
test_industrial_meaning/
test_industrial_final/
test_delta_industrial/
test_robustness/
test_learning_gov/
test_task_loop/
test_belief_revision/
test_concepts/
test_multilingual/
test_reasoning_depth/
test_kg_layer/
test_relevance/
test_causal_prop/
test_multimodal_bridge/
test_memory_merging/
